.container {
	position: relative;
}

.container h1 {
	margin: 0 auto 0 auto;
	font-size: 20rem;
	font-style: italic;
}

.arrows {
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.arrow {
	margin-bottom: 50px;
	transform: rotate(180deg);
	animation: arrow 3s infinite ease-in-out;
}

@keyframes arrow {
	0%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-15px);
	}
}
