.navbar {
	position: absolute;
	display: flex;
	gap: 20px;
	margin: 20px;
	z-index: 999;
}

.navbar a {
	text-decoration: none;
	color: black;
	transition: transform 0.2s;
}

.navbar a:hover {
	transform: scale(1.2);
}
