.video-section {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px 0 50px;
}

.animate-bounce {
	animation: bounce-up 3s infinite ease-in-out;
}

@keyframes bounce-up {
	0%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-50px);
	}
}

.video-section:nth-child(2n + 1) {
	flex-direction: row-reverse;
}

.video-infos {
	background-color: white;
	padding: 10px;
	flex-direction: column;
	margin: 0 auto 0 auto;
	max-width: 500px;
}

.video-frame {
	border: solid;
	border-color: white;
	background-color: black;
	border-width: 20px;
	filter: drop-shadow(30px 30px 0px black);
}

.video-section:nth-child(2n + 1) .animate-appears {
	animation: appears-left 1s;
}

.video-section:nth-child(2n) .animate-appears {
	animation: appears-right 1s;
}

.video-infos:not(.animate-appears) {
	opacity: 0;
}

.video-frame:not(.animate-appears) {
	opacity: 0;
}

.pagination {
	position: absolute;
	top: 20px;
	right: 20px;
	margin: 0;
}

.video-details {
	text-decoration: underline;
	margin-top: 10px;
	cursor: pointer;
}

@keyframes appears-right {
	0% {
		opacity: 1;
		transform: translateX(100%);
	}
	100% {
		transform: translateX(O);
	}
}

@keyframes appears-left {
	0% {
		opacity: 1;
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(O);
	}
}
